<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @category.id %>
</p>

<p>
  <b>Integer,:</b>
  <%= @category.integer, %>
</p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>String,:</b>
  <%= @category.string, %>
</p>

<p>
  <b>Parent:</b>
  <%= @category.parent_id %>
</p>

<p>
  <b>Integer,:</b>
  <%= @category.integer, %>
</p>

<p>
  <b>Lft:</b>
  <%= @category.lft %>
</p>

<p>
  <b>Integer,:</b>
  <%= @category.integer, %>
</p>

<p>
  <b>Rgt:</b>
  <%= @category.rgt %>
</p>

<p>
  <b>Integer:</b>
  <%= @category.integer %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
